<ul data-role='team'>
  <li>
    <img src='' />
    <strong>Team Member N1</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

  <li>
    <img src='' />
    <strong>Team Member N2</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

  <li>
    <img src='' />
    <strong>Team Member N2</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

  <li>
    <img src='' />
    <strong>Team Member N2</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

  <li>
    <img src='' />
    <strong>Team Member N2</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

  <li>
    <img src='' />
    <strong>Team Member N2</strong>
    <nav>
      <a href='/'></a>
      <a href='/'></a>
      <a href='/'></a>
    </nav>
  </li>

</ul>
