<section class='bck primary' data-role='quote'>
  <div class='wrapper'>
    <div>
      <h3>Our customers talking about us</h3>
      <i>
        <p>
          "MediaSmart is not only one of the most advanced tools to use but also a team of smart and great people to work with. After few months only, it became our most used technology here at Surikate as it's giving us the opportunity to manage and optimize our campaigns perfectly. It's a real pleasure to work with such nice and helpful people!"
        </p>​
        <small>
          Nicolas Saraiva, Head of Media Buying & Operations @Mozoo Group
        </small>
      </i>
    </div>
    <img src='/assets/images/banner-quote-avatar.jpg' />
  </div>
</section>
