<article data-role='banner'>
  <section class='bck primary' data-role='quotes'>
    <div>
      <!-- <img src='/assets/images/nicolas-head-media-buying.jpg'
        alt='Photo of Nicolas - head of media buying - Mozoo Group' />
      <div>
        <blockquote>
          mediasmart is not only one of the most advanced tools to use but also a team of smart and great people to work
          with. After few months only, it became our most used technology as it's giving us the opportunity to manage
          and optimize our campaigns perfectly."
        </blockquote>
        <strong>Nicolas Saraiva</strong>
        <small>Head of Media Buying & Operations Mozoo Group</small>
      </div> -->

      <!-- <img src='/assets/images/ido-head-of-programmatic.jpg' alt='Photo of Ido - head of programmatic - Vidride' />
      <div>
        <blockquote>
          mediasmart has helped us increase our revenue in many locations thanks to a good variety of targeting options
          and great customer service!”
        </blockquote>
        <strong>Ido Ottolenghi</strong>
        <small>Head of Programmatic Vidride</small>
      </div> -->

      <!-- <img src='/assets/images/yifat-head-supply.jpg' alt='Photo of Yifat - head of supply - Positive Mobile' />
      <div>
        <blockquote>
          mediasmart´s team is super-professional, and they have a top of the line buying platform to accompany their
          services. mediasmart brings top publishers and has all the latest market tools and features that a trader
          needs to meet goals.
        </blockquote>
        <strong>Yifat Eliason</strong>
        <small>Head of Supply at Positive Mobile</small>
      </div> -->

      <div>
        <blockquote>
          mediasmart has become our trusted partner for programmatic mobile advertising campaigns. It provides very
          well-defined segmentations and helps throughout the customer journey of our clients. In addition, at support
          level, they are unbeatable, always attentive to our needs.
        </blockquote>
        <strong>Novum Team at Teléfonica</strong>
      </div>

      <div>
        <blockquote>
          We wanted to manage and deliver our cross country drive-to-store campaigns in self service in order to have
          full transparency in our media buying - in store measurement has always been a big challenge for our
          advertisers as well - So it was obvious for us to select mediasmart as our drive-to-store DSP as it combines
          both, with an unique tool in real time measurement and optimisations.
        </blockquote>
        <strong>Emilie Chau</strong>
        <small>Head of Display & Programmatic at Artefact France</small>
      </div>

    </div>
  </section>
</article>
