<article data-role='banner'>
  <section class='bck dots map'>
    <div class='box'>
      <h3>MEDIASMART HEAD OFFICE</h3>
      <a href='mailto:info@mediasmart.io'>info@mediasmart.io</a>
      <a href='tel:+34915915379'>+34 91 591 53 79</a>
      <span>Calle Boix y Morer 9 – 1º</span>
      <span>Madrid, 42000</span>

      <strong>UK OFFICE</strong>
      <a href='tel:+447834284611'>+44 7834 284 611</a>
      <span>14 Gray's Inn Road</span>
      <span>London, WC1X 8HN</span>
    </div>
  </section>
</article>
