<article data-role='banner'>
  <section class='bck dots map'>
    <div class='wrapper'>
      <h3>
        High quality global inventory and unparalleled reach through our proprietary platform
      </h3>
      <div class='boxes'>
        <div class='box'>
          <small>Daily peaks of</small>
          <h2>+ 1 million<span>bid requests per second</span></h2>
        </div>

        <div class='box primary'>
          <small>Access to</small>
          <h2>+ 50 billion<span>Impressions available per day</span></h2>
        </div>

        <div class='box'>
          <small>Campaigns running in</small>
          <h2>+100<span>countries</span></h2>
        </div>
      </div>
    </div>
  </section>
</article>
