<article data-role='banner'>
  <section class='bck primary' data-role='quotes'>
    <div>
      <img src='/assets/images/banner-quote-nicolas.jpg' />
      <div>
        <blockquote>
          mediasmart is not only one of the most advanced tools to use but also a team of smart and great people to work with. After few months only, it became our most used technology as it's giving us the opportunity to manage and optimize our campaigns perfectly."
        </blockquote>
        <strong>Nicolas Saraiva</strong>
        <small>Head of Media Buying & Operations Mozoo Group</small>
      </div>

      <img src='/assets/images/banner-quote-ido.jpg' />
      <div>
        <blockquote>
          mediasmart has helped us increase our revenue in many locations thanks to a good variety of targeting options and great customer service!”
        </blockquote>
        <strong>Ido Ottolenghi</strong>
        <small>Head of Programmatic Vidride</small>
      </div>

      <img src='/assets/images/banner-quote-yifat.jpg' />
      <div>
        <blockquote>
          mediasmart´s team is super-professional, and they have a top of the line buying platform to accompany their services. mediasmart brings top publishers and has all the latest market tools and features that a trader needs to meet goals.
        </blockquote>
        <strong>Yifat Eliason</strong>
        <small>Head of Supply at Positive Mobile</small>
      </div>
    </div>
  </section>
</article>
