<article data-role='banner'>
  <section class='bck dots map'>
    <div class='wrapper'>
      <h3>
        High quality global inventory and unparalleled reach through our proprietary platform
      </h3>
      <div class='boxes'>
        <div class='box'>
          <small>Daily peaks of more than</small>
          <h2>400,000 <span>bid requests per second</span></h2>
        </div>

        <div class='box primary'>
          <small>Access to more than</small>
          <h2>25 billion<span>Impressions available per day</span></h2>
        </div>

        <div class='box'>
          <small>Campaigns running in more than</small>
          <h2>60 <span>countries</span></h2>
        </div>
      </div>
    </div>
  </section>
</article>
