<article data-role='banner'>
  <section class='bck dots map'>
    <div class='box'>
      <h3>MEDIASMART HEAD OFFICE</h3>
      <a href='mailto:info@mediasmart.io'>info@mediasmart.io</a>
      <a href='tel:+34911993546'>+34 91 199 35 46</a>
      <span>Calle García de Paredes 12, 1º B</span>
      <span>Madrid, 28010</span>

      <strong>FR OFFICE</strong>
      <a href='tel:+330650513242'>+33 (0)6 50 51 32 42</a>
      <span>40 Rue du Colisée</span>
      <span>Paris, 75008</span>

      <strong>BE OFFICE</strong>
      <span>Rue Belliard, Belmont Court 51 - 53</span>
      <span>Brussels, 1000</span>

      <strong>AE OFFICE</strong>
      <span>King Salman Bin Abdulaziz Al Saud Street PO Box</span>
      <span>Dubai Media City, 72280</span>
    </div>
  </section>
</article>
