<section data-role='sitemap'>
  <nav>
    <h3>solutions</h3>
    <a href=''>solution 1</a>
    <a href=''>solution 2</a>
    <a href=''>solution 3</a>
    <a href=''>solution 4</a>
  </nav>
  <nav>
    <h3>lorem ipsum</h3>
    <a href=''>lorem ipsum 1</a>
    <a href=''>lorem ipsum 2</a>
    <a href=''>lorem ipsum 3</a>
    <a href=''>lorem ipsum 4</a>
  </nav>
  <nav>
    <h3>About us</h3>
    <a href=''>The Team</a>
    <a href=''>Careers</a>
    <a href=''>Customers</a>
    <a href=''>Contact Us</a>
  </nav>
  <nav>
    <h3>blog</h3>
    <a href=''>post 1</a>
    <a href=''>post 2</a>
    <a href=''>post 3</a>
    <a href=''>post 4</a>
  </nav>
</section>

<footer>
  <span>©2016 Mediasmart</span>
  <nav>
    <a href=''>Terms of use</a>
    <a href=''>Privacy policy</a>
    <a href=''>Cookie policy</a>
  </nav>
  <nav>
    <a href=''>EN</a>/<a href=''>ES</a>
  </nav>
  <nav>
    <a href=''>twitter</a>
    <a href=''>facebook</a>
    <a href=''>rss</a>
  </nav>
</footer>
