<article data-role='sitemap'>
  <nav>
    <h3>solutions</h3>
    <a href=''>solution 1</a>
    <a href=''>solution 2</a>
    <a href=''>solution 3</a>
    <a href=''>solution 4</a>
  </nav>
  <nav>
    <h3>about us</h3>
    <a href='/about-us#team'>The Team</a>
    <a href='/about-us#careers'>Jobs <small class='hiring'>we're hiring</small></a>
    <a href='/customers'>Customers</a>
    <a href='/contact'>Contact</a>
  </nav>
  <nav>
    <h3>blog</h3>
    {% for post in site.posts %}
      <a href='{{ post.url | prepend: site.baseurl }}'>
        {{ post.title }}
        <small>{{ post.date | date: "%b %-d, %Y" }} | {{post.tag}}</small>
      </a>
    {% endfor %}
  </nav>
</article>

<footer>
  <span>©2016 Mediasmart</span>
  <nav>
    <a href='/terms-of-use'>Terms of use</a>
    <a href='/privacy-policy'>Privacy policy</a>
    <a href='/cookie-policy'>Cookie policy</a>
  </nav>
  <nav>
    <a href='https://twitter.com/MEDIASMART_MB' target='_blank'>Twitter</a>
    <a href='https://www.facebook.com/pages/Mediasmart-Mobile/504657222949687' target='_blank'>Facebook</a>
    <a href='/blog'>Blog</a>
  </nav>
</footer>
