<header>
  <a href='/'>
    <img src='/assets/images/logo.png' />
  </a>
  <nav>
    <a href='/solutions'>
      SOLUTIONS
      <ul>
        <li href='/solutions#feature-1'>
          <strong>Feature 1</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
        </li>
        <li href='/solutions#feature-2'>
          <strong>Feature 2</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
        </li>
        <li href='/solutions#feature-3'>
          <strong>Feature 3</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
        </li>
      </ul>
    </a>
    <a href='/customers'>CUSTOMERS</a>
    <a href='/about-us'>ABOUT US</a>
    <a href='/contact'>CONTACT</a>
    <a href='https://bsmart.mediasmart.mobi'>SIGN IN</a>
    <a href='/signup' class='button primary'>
      <label>sign up</label>
    </a>
  </nav>
</header>
