<header>
  <a href='/'>
    <img src='/assets/images/logo.png' />
  </a>
  <nav>
    <a href='/product'>
      PRODUCT
      <ul>
        <li href='/product#wide-range-of-advertising-formats'>
          <strong>Wide Range of Advertising Formats</strong>
          <span>Mediasmart supports different advertising formats to make sure you always have many options to communicate your message.</span>
        </li>
        <li href='/product#advanced-targeting-options'>
          <strong>Advanced Targeting Options</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
        </li>
        <li href='/product#smart-campaign-management'>
          <strong>Smart Campaign Management</strong>
          <span>The most intuitive and powerful platform so that you can easily keep all your campaigns under control and maximize results with little effort.</span>
        </li>
      </ul>
    </a>
    <a href='/partners'>PARTNERS</a>
    <a href='/about-us'>ABOUT US</a>
    <a href='/contact'>CONTACT</a>
    <a href='/blog'>BLOG</a>
    <a href='https://app.mediasmart.io' class='button primary'>SIGN IN</a>
  </nav>
</header>
