<header>
  <a href='/'>
    <img src='/assets/images/logo-mediasmart.png' alt='Logo of mediasmart'/>
  </a>
  <nav>
    <a href='/product'>
      PRODUCT
      <ul>
        <li href='/product#demand-side-platform'>
          <strong>Mediasmart DSP</strong>
          <span>Mediasmart is a demand side platform designed for mobile that tracks post-click events both in the web and the in-app environment and that programmatically buys media in real time</span>
        </li>
        <li href='/product#adserver'>
          <strong>Adserver for Media Efficiency</strong>
          <span>Measure how effective each of your digital advertising channels is, so that you can focus only on those who bring incremental results. Stop paying for installs you would get anyway!</span>
        </li>
        <li href='/product#footfall-measurement'>
          <strong>Footfall measurement</strong>
          <span>Measure footfall or the amount of visits to a stroe that can be attributed - or directly linked to the impact of - a Drive to Store campaign</span>
        </li>
      </ul>
    </a>
    <a href='/solutions'>
      SOLUTIONS
      <ul>
        <li href='/solutions#branding'>
          <strong>Branding</strong>
          <span>Switch to mobile; where users spend most of their time, in a brand safe way</span>
        </li>
        <li href='/solutions#proximity-campaigns'>
          <strong>Proximity Campaigns</strong>
          <span>Use user's location to personalize your advertising efforts and measure the impact of your campaigns in driving footfall</span>
        </li>
        <li href='/solutions#app-marketing'>
          <strong>App Marketing</strong>
          <span>Measure uplift in your campaigns ad let incremental metrics drive your investments for maximum efficiency</span>
        </li>
      </ul>
    </a>
    <a href='/partners'>PARTNERS</a>
    <a href='/about-us'>ABOUT US</a>
    <a href='https://blog.mediasmart.io/blog'>
      BLOG
      <ul>
        <li href='https://blog.mediasmart.io/blog'>
          <strong>Blog</strong>
          <span>Industry trends around the mobile programmatic world.</span>
        </li>
        <li href='/tech-blog'>
          <strong>Tech Blog</strong>
          <span>Behind the scenes.</span>
        </li>
      </ul>
    </a>
    <a href='https://console.mediasmart.io/signup?utm_source=mediasmart&utm_campaign=header' class='button primary'>SIGN UP</a>
  </nav>
</header>
