<section data-role='intro' class='bck video dots'>
  <h1>be <span>smart</span> about your media buying on mobile</h1>
  <h3>Reach mobile audiences effectively in Real Time</h3>
  <a href='/signup' class='button large'>
    <label>Try now</label>
  </a>
  <small class='scroll-down'>Scroll down, please</small>
  <video autoplay loop preload>
    <source src="/assets/videos/create.mp4" type="video/mp4" />
    <source src="/assets/videos/create.webm" type="video/webm" />
  </video>
</section>

<section>
  <h3>Do you want to effectively advertise on mobile devices?</h3>
  <p>
    Mediasmart can help you optimize your media investment and effectively reach mobile audiences in real time. How do we do it? Using extensive data to drive the decisions made by our programmatic algorithms, born for mobile. Our secret is our proprietary platform, which strikes the perfect balance between artificial intelligence and human interaction, and you can have all its power in your own hands through the most intuitive and transparent web app, or through our APIs.
  </p>
</section>

{% include banner-quote.html %}

<section>
  <div class='wrapper'>
    High quality global inventory and unparalleled reach through our state of the art proprietary platform
    <ul>
      <li>Daily peaks of more than 400,000 bid requests per second</li>
      <li>More than 25 billion impressions available per day</li>
      <li>Campaigns running in more than 60 countries (below in a map)</li>
    </ul>
  </div>
</section>

{% include banner-realtime.html %}
{% include banner-partners.html %}
