<section>

  <div data-role='feature' id='wide-range-of-advertising-formats'>
    <img src='/assets/images/feature-browser-creatives.jpg' class='browser' />
    <div>
      <h2 >Wide Range of Advertising Formats:</h2>
      <p>
        Mediasmart supports all industry ad formats to make sure you always have many options to communicate your message.
      </p>
      <ul>
        <li>
          <strong>Display</strong>
          <small>
            Mediasmart can host your static banners and interstitials or deliver your own ad serving tags. The platform is certified with all rich media ad servers most used in mobile, and it also supports the creation of dynamic ads, which content varies with user location, right within the console.
          </small>
        </li>

        <li>
          <strong>Video</strong>
          <small>
            We can host your video files or point to external video URLs. Videos can be served in interstitials within applications, instream or inline, and in many cases can include companion banners.
          </small>
        </li>

        <li>
          <strong>Native</strong>
          <small>
            Upload text together with images or videos and a call to action, and they will be served in a format that seamlessly integrates with the app or website that displays the ads.
          </small>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div data-role='feature' id='advanced-targeting-options'>
    <div>
      <h2>Advanced Targeting Options</h2>
      <p>
        When it comes to segmentation and targeting, the mobile nature of mediasmart makes the difference. You can segment your campaigns using a lot of mobile specific variables without having to sacrifice reach. These are some examples of possible segmentation variables:
      </p>
      <ul>
        <li>Mobile operator</li>
        <li>Device type</li>
        <li>Device make and model</li>
        <li>Language</li>
        <li>Connection type: Wifi vs Cellular</li>
        <li>Operation system and version</li>
        <li>App vs Mobile Web</li>
        <li>Publisher by name, site ID or app ID/bundle ID</li>
        <li>User Interests based on prior behaviour from more than 300 million users</li>
        <li>Demographic information: Age and Gender</li>
        <li>Geolocation: country, region, city and zipcode</li>
        <li>Geofencing with multiple levels of precision</li>
        <li>IP address</li>
        <li>User ID: IDFA or GAID</li>
        <li>Type of user ID: cookie, IDFA, GAID</li>
      </ul>
      <p>
        You can also run retargeting campaigns or target dynamic audiences. Create your own audiences and enrich them with every new campaign you run, either using mediasmart only or easily integrating with your very own DMP.
      </p>
    </div>
    <img src='/assets/images/feature-mobile-targeting.png' class='mobile' />
  </div>

  <hr />

  <div data-role='feature' id='smart-campaign-management'>
    <img src='/assets/images/feature-browser-notifications.jpg' class='browser' />
    <div>
      <h2>Smart Campaign Management</h2>
      <p>
        We bring together the most intuitive user experience and the most powerful platform so that you can easily keep all your campaigns under control and maximize results with little effort.
      </p>
      <p>
        Algorithms that automatically manage campaign performance for you and notifications that alert you when something should call your attention. Set your pricing goals for engagement and let our predictive targeting algorithm do the rest.
      </p>
    </div>
  </div>

  <div data-role='feature'>
    <div>
      <p>
        You will receive notifications with any detected issues, warnings and opportunities for improvement, which you can configure to get via the web interface and via email.
      </p>
      <p>
        In depth analysis through fully transparent and granular reporting tools.
        Wizard, in depth contextual documentation and online customer support to ensure a seamless and intuitive experience, as well as fast resolution of any potential issues.
      </p>
    </div>
    <img src='/assets/images/feature-browser-analytics.png' class='browser' />
  </div>

</section>
