<section>

  <div data-role='feature' id='mediasmart-different'>
    <img src='/assets/images/mediasmart-difference.png' class='oneSize' alt=''/>
  </div>

  <hr />

  <div data-role="feature-group-title">
    <h2>Demand Side Platform</h2>
  </div>

  <hr>

  <div data-role='feature' id='smart-campaign-management'>
    <img src='/assets/images/smart-campaign-management.png' class='browser' alt=''/>
    <div>
      <h3>Smart Campaign Management</h3>
      <p>
        We bring together the most intuitive user experience and the most powerful platform so that you can easily keep all your campaigns under control and maximize results with little effort.
      </p>
      <p>
        Algorithms that automatically manage campaign performance for you and notifications that alert you when something should call your attention. Set your pricing goals for engagement and let our predictive targeting algorithm do the rest.
      </p>
    </div>
  </div>


  <div data-role='feature'>
    <div>
      <h3>Advanced Targeting options</h3>
      <p>
        When it comes to segmentation and targeting, the mobile nature of mediasmart makes the difference. You can segment your campaigns using a lot of mobile specific variables without having to sacrifice reach. These are some examples of possible segmentation variables:
      </p>
      <ul>
        <li>Mobile operator</li>
        <li>Device type</li>
        <li>Device make and model</li>
        <li>Language</li>
        <li>Connection type: Wifi vs Cellular</li>
        <li>Operating system and version</li>
        <li>App vs Mobile Web</li>
        <li>Publisher by name, site ID or app ID/bundle ID</li>
        <li>User Interests based on prior behaviour from more than 300 million users</li>
        <li>Demographic information: Age and Gender</li>
        <li>Geolocation: country, region, city and zipcode</li>
        <li>Geofencing with multiple levels of precision</li>
        <li>IP address</li>
        <li>User ID: IDFA or GAID</li>
        <li>Type of user ID: cookie, IDFA, GAID</li>
        <li>Domain & Page URL</li>
        <li>Target inventory compatible with Ads.txt</li>
      </ul>
      <p>
        You can also run retargeting campaigns or target dynamic audiences. Create your own audiences and enrich them with every new campaign you run, either using mediasmart only or easily integrating with your very own DMP.
      </p>
    </div>
    <img src='/assets/images/advanced-targeting-options.png' class='browser' alt=''/>
  </div>

  <hr />

  <div data-role='feature'>
    <img src='/assets/images/audience management.png' class='browser' alt=''/>
    <div>
      <h3>Audience Management</h3>
      <p>
        Managing audiences is one of programmatic buying main advantages. You can benefit from it by buying at a user-level (taking full control with personalized messages, retargeting, blacklisting); creating your own audiences to make media buying much more efficient and optimizing thanks to Big data and self-learning algorithms.
      </p>
      <p>The options</p>
      <ul>
        <li><strong>Integrate your own DMP</strong>: Sync to target your audiences and enrich your data with campaign information from mediasmart.</li>
        <li><strong>Third party Data</strong>: Target User Segments from Data Providers.</li>
        <li><strong>mediasmart Audiences</strong>: Create and manage your own audiences based on campaign data and triggers.</li>
      </ul>
    </div>
  </div>

  <div data-role="feature" class="withoutColumn" style="padding-top: 0">
    <div>
      <p>
        Working with audiences in mediasmart:
      </p>
      <ul>
        <li>Upload lists through the API/Console and configure audiences to be dynamically update based on Campaign information and engagement triggers.</li>
        <li>Target audience segments or lookalikes using complex business rules</li>
        <li>Download and update audience files at any time</li>
        <li>Target audiences being 100% sure to be GDPR compliant</li>
      </ul>
    </div>
  </div>

  <hr/>

  <div data-role="feature">
    <div>
      <h3>Wide range of formats</h3>
      <p>
        mediasmart supports all industry ad formats to make sure you always have many options to communicate your message.
      </p>
      <h4>Display</h4>
      <p>
        mediasmart can host your static banners and interstitials or deliver your own ad serving tags. The platform is certified with all rich media ad servers most used in mobile, and it also supports the creation of dynamic ads, which content varies with user location, right within the console.
      </p>
      <h4>Video</h4>
      <p>
        We can host your video files or point to external video URLs. Videos can be served in interstitials within applications, instream or inline, and in many cases can include companion banners.
      </p>
      <h4>Native</h4>
      <p>
        Upload text together with images or videos and a call to action, and they will be served in a format that seamlessly integrates with the app or website that displays the ads.
      </p>
      <h4>Audio</h4>
      <p>
        Upload an audio file, and as optional, you can add End-cards. Audio ads are composed by an audio spot, cover art, and clickable campaign name.
      </p>
    </div>
    <img src='/assets/images/wide-range-of-formats.png' class='browser' alt='' style="width: 33%"/>
  </div>

  <hr/>

  <div data-role="feature" class="withoutColumn">
    <div>
      <h3>Granular reporting</h3>
      <p>
        You will receive notifications with any detected issues, warnings and opportunities for improvement, which you can configure to get via the web interface and via email.
      </p>
      <p>
        In depth analysis through fully transparent and granular reporting tools. Wizard, in depth contextual documentation and online customer support to ensure a seamless and intuitive experience, as well as fast resolution of any potential issues.
      </p>
    </div>
    <div class='center'>
      <img src='/assets/images/granular reporting.png' class='browser' alt='' style="width: 100%"/>
    </div>
  </div>

  <hr/>

  <div data-role="feature-group-title">
    <h2>Incremental Adserver</h2>
  </div>

  <hr/>

  <div data-role='feature' id='adserver' class="withoutColumn">
    <div>
      <p>
        If you have an app driven business and actively promote your app through managed advertising channels, chances are that you have been subject to attribution fraud (more than 50% paid installs, as per multiple industry reports). And if you are aware of this problem, you are likely to struggle with how to differentiate advertising channels that bring <span class="bold-text">incremental value</span> to your business from those that generate good "results" based on attribution fraud or non ethical practices.
      </p>
      <p>
        At mediasmart, we believe the ultimate way to identify advertising channels that may be generating good results purely by playing your attribution system, is to actually measure the results they provide when your ads are served, versus when they are not.
      </p>
      <p>
        With mediasmart Incremental Adserver you will not only be able to quickly identify fraudulent advertising channels, but in general, you'll be able to identify the <span class="bold-text">incremental value</span> that each of your digital advertising channels brings to your campaigns, allowing you to focus on what works for your business overall.
      </p>
    </div>
    <div class='center' style="text-align: center">
      <!--
      <a href="http://info.mediasmart.io/media- buying-as-an-app-driven-business-0" download>
	      <button>See our whitepaper</button>
      </a>
      -->
      <a href="https://www.mediasmart.io/contact/" target="_blank">
	      <button>Get in touch for a trial</button>
      </a>
    </div>
  </div>

  <hr />

  <div data-role="feature-group-title">
    <h2>Footfall measurement solution</h2>
  </div>

  <hr/>

  <div data-role='feature' class='withoutColumn'  id='footfall-measurement'>
    <img src='/assets/images/footfall-measurement-solution.png' class='oneSize' alt='You can set notifications in the interface to help you manage and optimize your campaigns.'/>
    <div class='center' style="text-align: center">
      <!--
      <a href="http://info.mediasmart.io/media- buying-as-an-app-driven-business-0" download>
        <button>See our whitepaper</button>
      </a>
      -->
      <a href="https://www.mediasmart.io/contact/" target="_blank">
        <button>Contact us for more info</button>
      </a>
    </div>
  </div>



</section>
