<section>
  <div data-role='feature' id='mediasmart-different'>
    <img src='/assets/images/mediasmart-difference.png' class='oneSize' alt=''/>
  </div>

  <hr />

  <!-- <div data-role='feature' id='brading'>
    <div>
      <h2>Branding</h2>
      <p>Switch to mobile; where users spend most of their time, in a brand safe way</p>
      <ul>
        <li>Access and manage deals (audience packages, PMP, etc, ...</li>
        <li>Integrate your First Party data and dynamically generate new audiences</li>
        <li>Access third party data</li>
        <li>Target inventory compatible with Ads.txt</li>
        <li>Engaging formats including native video, audio and rich media</li>
        <li>Target inventory with high viewability</li>
        <li>Full publisher transparency and easy management of publisher lists</li>
        <li>Automatically optimize to your KPIs</li>
        <li>Monitor campaigns with easy to use dashboards and granular reports</li>
      </ul>
    </div>
    <img src='/assets/images/solutions-branding.png' class='browser' alt='You can serve different ad formats in the mediasmart platform: images, video, native, etc.' />
  </div> -->
  
  <div id='demand-side-platform'>
    <h2>Demand Side Platform</h2>
    <div data-role='feature' id='smart-campaign-management'>
      <img src='/assets/images/smart-campaign-management.png' class='browser' alt=''/>
      <div>
        <h3>Wide Range of Advertising Formats:</h3>
        <div>
          <p>
            We bring together the most intuitive user experience and the most powerful platform so that you can easily keep all your campaigns under control and maximize results with little effort.
          </p>
          <p>
            Algorithms that automatically manage campaign performance for you and notifications that alert you when something should call your attention. Set your pricing goals for engagement and let our predictive targeting algorithm do the rest.
          </p>
        </div>
      </div>    
    </div>
  </div>

  <hr />

  <div data-role='feature' id='adserver'>
    <div>
      <h2>AdServer for Efficiency</h2>
      <p>
        If you have an app driven business and actively promote your app through managed advertising channels, chances are that you have been subject to attribution fraud (more than 50% paid installs, as per multiple industry reports). And if you are aware of this problem, you are likely to struggle with how to differentiate advertising channels that bring incremental value to your business from those that generate good "results" based on attribution fraud or non ethical practices.
      </p>
      <p>
        At mediasmart, we beleve the ultimate way to identify advertising channels that may be generating good results purely by playing your attribution system, is to actually measure the results they provide when your ads are served, versus when they are not.
      </p>
      <p>
        With mediasmart Ad Server for Efficiency you will not only be able to quickly identify fraudulent advertising channels, but in general, you'll be able to identify the incremental value that each of your digital advertising channels brings to your campaigns, allowing you to focus on what works for your business overall.
      </p>
    </div>
    <hr/>
    <div class='center'>
      <!-- <form method="get" action="/assets/downloads/Web_changes_part_II_last_review_DECEMBER.pptx">
        <button type="submit">Download our whitepaper on EFFECTIVE APP PROMOTION</button>
      </form>
      <form method="get" action="/assets/downloads/Web_changes_part_II_last_review_DECEMBER.pptx">
        <button type="submit">GET CONTROL! CONTACT US FOR A TRIAL. </button>
      </form> -->
      <a href="/assets/downloads/Web_changes_part_II_last_review_DECEMBER.pptx" download>
	      <button>Download2</button>
      </a>
      <a href="/assets/downloads/Web_changes_part_II_last_review_DECEMBER.pptx" download>
	      <button>Download2</button>
      </a>
    </div>
  </div>

  <hr />

  <div data-role='feature' class='withoutColumn'  id='footfall-measurement'>
    <h2>Footfall measurement solution</h2>
    <img src='/assets/images/footfall-measurement-solution.png' class='oneSize' alt='You can set notifications in the interface to help you manage and optimize your campaigns.'/>
    <!-- download buttons -->
  </div>

</section>
