<section data-role='intro' class='bck dots'>
  <h1>be <span>smart</span> about your media buying on mobile</h1>
  <h3>Reach mobile audiences effectively in Real Time</h3>
  <!--
  <a href='/signup' class='button large'>
    <label>Try now</label>
  </a>
  -->
  <small class='scroll-down'>Scroll down, please</small>
  {% include video.html %}
</section>

<section>

  <div data-role='feature'>
    <img src='/assets/images/feature-browser-analytics.png' class='browser' />
    <div>
      <h3>Do you want to effectively advertise on mobile devices?</h3>
      <p>
        Mediasmart can help you optimize your media investment and effectively reach mobile audiences in real time. How do we do it? Using extensive data to drive the decisions made by our programmatic algorithms, born for mobile. Our secret is our proprietary platform, which strikes the perfect balance between artificial intelligence and human interaction, and you can have all its power in your own hands through the most intuitive and transparent web app, or through our APIs.
      </p>
    </div>
  </div>

  <hr />

  <div data-role='feature'>
    <div>
      <h3>Do you want to use the most advanced mobile programmatic tools?</h3>
      <!--
      <p>
        In a world that is mobile you need tools like mediasmart - born with mobile at its core - in order to guarantee the quality of your campaigns.
      </p>
      -->
      <p>
        mediasmart platform ensures your campaigns are flawlessly delivered in mobile environments, allows you to take advantage of the much wider breadth of data available on mobile and, overall, gives your team superpowers: you can focus on what brings the most value and let our algorithms do the rest.
      </p>
      <p>
        Easy to use, fully transparent, with a lot of levers available for targeting and optimization, sophisticated analysis tools, and convenient notifications to call your attention when action is required. You can also learn from every single campaign you run thanks to our powerful audience management tools, which can be easily integrated with your own data management platform.
      </p>
    </div>
    <img src='/assets/images/feature-mobile-campaign.png' class='mobile' />
  </div>

</section>

{% include banner-realtime.html %}

{% include banner-quote.html %}
