<section>

  <div data-role='feature' id='brading'>
    <div>
      <h2>Branding</h2>
      <p>Switch to mobile; where users spend most of their time, in a brand safe way</p>
      <ul>
        <li>Access and manage deals (audience packages, PMP, etc…)</li>
        <li>Integrate your First Party data and dynamically generate new audiences</li>
        <li>Access third party data</li>
        <li>Target inventory compatible with Ads.txt</li>
        <li>Access formats including native video, audio and rich media</li>
        <li>Target inventory with high viewability</li>
        <li>Easy management of publisher lists and full publisher transparency</li>
        <li>Optimize automatically to your KPIs</li>
        <li>Monitor campaigns with easy to use dashboards and granular reports</li>
      </ul>
      <div class='center'>
        <a href="http://info.mediasmart.io/download-more-info-about-branding" target="_blank" download>
          <button>See use case</button>
        </a>
      </div>
    </div>
    <img src='/assets/images/branding.png' class='browser' alt='You can serve different ad formats in the mediasmart platform: images, video, native, etc.'/>
  </div>

  <hr />

  <div data-role='feature' id='proximity-campaigns'>
    <div>
      <h2>Proximity Campaigns</h2>
      <p>Use user's location to personalize your advertising efforts and measure the impact of your campaigns in driving footfall</p>
      <ul>
        <li>Easily discover POIs (based on OpenStreetMaps)</li>
        <li>Upload, download and modify lists of areas (geolists). Control their precision.</li>
        <li>Measure footfall in real time ("attributed visits") with multiple solutions</li>
        <li><span class="bold-text">Follow Uplift and Incremental visits on a daily basis</span></li>
        <li>Understand the statistical relevance of data gathered</li>
        <li>Access daily insights about your proximity campaigns, including daily updated heatmaps</li>
        <li>Create audiences based on user's locations, and target them in campaigns</li>
      </ul>
      <div class='center'>
        <a href="http://info.mediasmart.io/download-more-info-about-proximity-campaigns" target="_blank" download>
          <button>See use case</button>
        </a>
      </div>
    </div>
    <img src='/assets/images/proximity-campaigns.png' class='browser' alt='mediasmart gives you many different specific mobile targeting variables for targeting, including geolocation.'/>
  </div>

  <hr />

  <div data-role='feature' id='app-marketing'>
    <div>
      <h2>App marketing</h2>
      <p>Measure uplift in your campaigns and let <strong>incremental metrics</strong> drive your investment for maximum efficiency</p>
      <ul>
        <li>Ad Server that can be used when running campaigns in any network/demand platform that supports third party ad tags</li>
        <li>Automatic measurement of incremental metrics by comparing control/placebo users</li>
        <li>Fully granular and transparent reports, including session level data</li>
        <li>Dashboard with daily Insights for immediate optimization</li>
        <li>Certified with the main tracking players in the market: Branch, Appsflyer, Adjust and Kochava</li>
      </ul>
      <div class='center'>
        <a href="http://info.mediasmart.io/download-our-document-regarding-mediasmarts-incremental-metrics" target="_blank" download>
          <button>See use case</button>
        </a>
      </div>
    </div>
    <img src='/assets/images/incremental-metrics.png' class='browser' alt='You can set notifications in the interface to help you manage and optimize your campaigns.'/>
  </div>

</section>
