<article data-role='sitemap'>
  <div class='wrapper'>
    <nav>
      <h3>Get in touch</h3>
      <span>+34 000 000 000</span>
      <span>+44 (0) 0000 000 000</span>
      <a href='mailto:hello@media-smart.com'>hello@media-smart.com</a>
    </nav>
    <nav>
      <h3>Solutions</h3>
      <a href=''>solution 1</a>
      <a href=''>solution 2</a>
      <a href=''>solution 3</a>
      <a href=''>solution 4</a>
      <a href='/partners'>Partners</a>
    </nav>
    <nav>
      <h3>About us</h3>
      <a href='/about-us#team'>The Team</a>
      <a href='/about-us#careers'>Jobs <span class='tag primary'><label>we're hiring</label></span></a>
      <a href='/contact'>Contact</a>
      <a href='/blog'>Blog</a>
      <a href='/assets/downloads/mediasmart-press-pack.zip'>Press pack</a>
    </nav>
    <nav>
      <h3>Latest on the blog</h3>
      {% for post in site.posts %}
        <a href='{{ post.url | prepend: site.baseurl }}'>
          {{ post.title }}
        </a>
      {% endfor %}
    </nav>
  </div>
</article>

<footer>
  <span>©2016 Mediasmart</span>
  <nav>
    <a href='/terms-of-use'>Terms of use</a>
    <a href='/privacy-policy'>Privacy policy</a>
    <a href='/cookie-policy'>Cookie policy</a>
  </nav>
  <nav data-role='networks'>
    <a href='https://twitter.com/MEDIASMART_MB' target='_blank' class='icon twitter'></a>
    <a href='https://www.facebook.com/pages/Mediasmart-Mobile/504657222949687' target='_blank' class='icon facebook'></a>
    <a href='https://youtube.com' target='_blank' class='icon youtube'></a>
  </nav>
</footer>
