<section
  data-role='title'
  class='bck dots {{ page.background }}'
  {% if page.cover %}
  style='background-image: url("/assets/images/{{ page.cover }}");'
  {% endif %}
>
  <div class='wrapper {% if page.date or page.title == "Blog" %} post {% endif %}'>
    <h1>{{ page.title }}</h1>
    {% if page.date %}<h3>{{ page.date | date: '%B %d, %Y' }}</h3>{% endif %}
    {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
  </div>
</section>

<section data-role='text' data-content='{{ page.title }}'>
  <div class='wrapper {% if page.date or page.title == "Blog" %} post {% endif %}'>
    {{content}}
  </div>
</section>

<section>
  <nav class='summary'>
    {% if page.previous %}
      <a href='{{ page.previous.url }}'>
        <small>Previous</small>
        <strong>{{ page.previous.title }}</strong>
      </a>
    {% endif %}

    {% if page.next %}
      <a href='{{ page.next.url }}'>
        <small>Next</small>
        <strong>{{ page.next.title }}</strong>
      </a>
    {% endif %}
  </nav>
</section>
