button, .button {
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: $font-family-heading;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  transition: box-shadow $animation-duration $animation-ease;
  padding: ($offset / 6) ($offset / 4);
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-$button-skew);
  display: inline-block;

  // -- Decorators
  &:hover {
    box-shadow: inset 17.5vw 0 rgba($black, 0.1);
  }
  &.large {
    padding: ($offset / 4) ($offset / 2);
  }
  &:not(.primary) {
    background-color: $white;
    color: $text;
  }
  &.primary, &:not(.primary):hover {
    background-color: $primary;
    color: $white;
  }
  // -- Children
  & > label {
    display: block;
    transform: skewX($button-skew);
    pointer-events: none;
  }
}
