// Size
$unit: 1rem;
$offset: 6.4 * $unit;
$offset-mobile: 5vw;
// Layout
$z-index-normal: 1;
$z-index-high: 100;
$z-index-higher: 200;
$z-index-highest: 300;
$header-height: 8.8 * $unit;
$content-max-width: 1100px;
$content-post-width: 720px;
// -- Device
$layout-breakpoint-XS: 600px;
$layout-breakpoint-SM: 960px;
$layout-breakpoint-MD: 1280px;
$layout-breakpoint-LG: 1920px;
// -- Color
$background: #fff;
$background-dark: #fafafa;
$text: rgb(56, 61, 72);
$text-secondary: #787D87;
$primary: #FF324B;
$accent: #FCCA54;
$dark: #3d3e41;
$white: #fff;
$black: #000;
// -- Font
$font-family: 'Open Sans', sans-serif;
$font-family-heading: 'Montserrat', sans-serif;
$font-family-content: 'Merriweather';
$font-size-large: 1.8 * $unit;
$font-size: 1.6 * $unit;
$font-size-small: 1.4 * $unit;
$font-size-tiny: 1.2 * $unit;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-text-shadow: 0 ($unit / 10) ($unit / 20) rgba(0,0,0,.1);
// -- Animation
$animation-duration: 250ms;
$animation-ease: cubic-bezier(.55,0,.1,1);
// -- Decorators
$button-skew: 5deg;
$box-skew: 2.5deg;

$shadow-strong: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
$shadow-light: 0 1px 0 rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.10);
$shadow-deep: 0 1px 8px rgba(0,0,0,0.10);
$shadow-focus: 0 2px 12px rgba(0,0,0,.2), inset 0 0 0 (6.4 * $unit) rgba($white, 0.1);
