[data-page] {
  > [data-role='sitemap'] {
    background-color: $background-dark;
    .wrapper {
      display: flex;
    }
    nav {
      min-width: 22.5%;
      padding: 0 $unit;
      > :not(h3) {
        display: block;
        color: $text-secondary;
        margin: $unit 0;
      }
    }
  }

  > footer {
    background-color: $dark;
    font-size: $font-size-tiny;
    display: flex;
    > * {
      min-width: 0;
    }
    &, a {
      color: $white;
    }
    > nav {
      &[data-role='networks'] {
        font-size: $font-size-large;
        a:hover {
          color: $primary;
        }
      }
    }
  }
}

// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-XS) {
  [data-page]  {
    > [data-role='sitemap'] .wrapper{
      flex-direction: column;
      margin: $offset-mobile 0;
      > nav:not(:first-child) {
        margin-top: $offset-mobile;
      }
    }
    > footer {
      flex-direction: column;
      align-items: center;
      padding: $offset-mobile 0;
      > nav:nth-child(2) {
        padding: $offset-mobile 0;
      }
      > nav > * {
        margin: 0 ($unit / 2);
      }
    }
  }
}

@media (min-width: $layout-breakpoint-XS) {
  [data-page]  {
    > footer {
      line-height: $header-height;
      > nav {
        &, a {
          margin-left: $unit;
        }
        &:nth-child(2) {
          flex-grow: 1;
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-XS) and (max-width: $layout-breakpoint-SM) {
  [data-page]  {
    > [data-role='sitemap'] {
      nav {
        > h3 {
          font-size: $font-size;
        }
        > :not(h3) {
          font-size: $font-size-tiny;
        }
      }
    }
    > footer {
      padding: 0 $offset-mobile;
    }
  }
}

@media (min-width: $layout-breakpoint-SM + 1) {
  [data-page]  {
    > footer {
      padding: 0 $offset;
    }
  }
}
