[data-page] {
  > [data-role='sitemap'] {
    display: flex;
    // justify-content: center;
    background-color: $background-dark;
    > nav {
      width: 20%;
      padding: 0 $unit;
      > a {
        display: block;
        color: $text-secondary;
        margin: $unit 0;
        > .hiring {
          background-color: $primary;
          color: $white;
          padding: ($unit / 4) ($unit / 2);
          border-radius: ($unit / 4);
          font-size: $font-size-tiny;
          font-weight: $font-weight-bold;
          vertical-align: text-bottom;
        }
      }
    }
  }

  > footer {
    background-color: $dark;
    font-size: $font-size-tiny;
    display: flex;
    padding: ($offset / 1.5) $offset;
    &, a {
      color: $white;
    }
    > nav {
      &, a {
        margin-left: $unit;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}
