$quote-avatar-size: $unit * 8;
$quote-sign-size: $unit * 4.8;

[data-role='banner'] {
  padding: 0;

  > section {
    align-items: center;
    justify-content: center;
    text-align: center;

    > .button {
      margin: ($offset / 2) 0;
    }

    > small {
      font-size: $font-size-small;
      opacity: 0.75;
    }

    .boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: $offset 0 0 0;
      flex-wrap: wrap;

      .box {
        margin: 0 $unit !important;
      }
    }

    .box {
      background-color: $white;
      color: $text;
      padding: ($offset / 2) $offset;
      box-shadow: $shadow-strong;
      transform: skewX(-$box-skew);

      &.primary {
        background: $primary;
        color: $white;
      }

      > * {
        display: block;
        transform: skewX($box-skew);
      }

      > h2 {
        > span {
          font-size: $font-size-small;
          line-height: $font-size-small;
          display: block;
        }
      }

      > h3,
      > strong {
        color: $primary;
      }

      > strong {
        margin-top: $unit;
      }

      > span,
      > a {
        color: $text;
      }
    }
  }
}

// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-SM) {
  [data-role='banner'] > section {
    padding: $offset 0;

    .boxes {
      flex-wrap: wrap;

      .box {
        margin: ($offset-mobile / 2) $offset-mobile !important;
      }
    }

    .box {
      width: 100%;
    }
  }
}

@media (min-width: ($layout-breakpoint-SM + 1)) {
  [data-role='banner'] > section {
    min-height: 45vh;
    padding: 0 $offset;

    .box {
      margin: $offset 0;
      max-width: 20vw;
    }
  }
}
