$quote-avatar-size: $unit * 8;
$quote-sign-size: $unit * 4.8;

[data-role='banner'] {
  padding: 0;

  > section {
    align-items: center;
    justify-content: center;
    text-align: center;

    > .button {
      margin: ($offset / 2) 0;
    }

    > small {
      font-size: $font-size-small;
      opacity: 0.75;
    }

    .boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: $offset 0 0 0;
      flex-wrap: wrap;

      .box {
        margin: 0 $unit !important;
      }
    }

    .box {
      background-color: $white;
      color: $text;
      padding: ($offset / 2) $offset;
      box-shadow: $shadow-strong;
      transform: skewX(-$box-skew);

      &.primary {
        background: $primary;
        color: $white;
      }

      > * {
        display: block;
        transform: skewX($box-skew);
      }

      > h2 {
        > span {
          font-size: $font-size-small;
          line-height: $font-size-small;
          display: block;
        }
      }

      > h3,
      > strong {
        color: $primary;
      }

      > strong {
        margin-top: $unit;
      }

      > span,
      > a {
        color: $text;
      }
    }

    &[data-role='quotes'] {
      .wrapper {
        display: flex;

        & img {
          display: block;
          margin: 0 auto;
          width: $quote-avatar-size;
          height: $quote-avatar-size;
          border-radius: 50%;
          background-size: cover;
        }

        & > div {
          & > * {
            display: block;
          }

          & blockquote {
            position: relative;

            &::before {
              position: absolute;
              top: -($unit * 1.25);
              left: -($offset / 2.5);
              content: '“';
              font-size: $quote-sign-size;
            }
          }

          & strong {
            font-size: $font-size-large;
          }

          & small {
            text-transform: uppercase;
            font-size: $font-size-tiny;
            opacity: 0.75;
          }
        }
      }
    }
  }
}

// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-SM) {
  [data-role='banner'] {
    > section {
      padding: $offset 0;

      .boxes {
        flex-wrap: wrap;

        .box {
          margin: ($offset-mobile / 2) $offset-mobile !important;
        }
      }

      .box {
        width: 100%;
      }

      &[data-role='quotes'] > .wrapper {
        flex-direction: column;
        text-align: center;

        > div {
          padding: 0 $offset-mobile $offset $offset-mobile;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

@media (min-width: ($layout-breakpoint-SM + 1)) {
  [data-role='banner'] {
    > section {
      min-height: 45vh;
      padding: 0 $offset;

      .box {
        margin: $offset 0;
        max-width: 20vw;
      }

      &[data-role='quotes'] > .wrapper {
        flex-direction: row;
        text-align: left;
        > div {
          max-width: 40vw;
          padding: 0  $quote-avatar-size / 2;

          & blockquote {
            margin: $unit 0;
          }
        }
      }
    }
  }
}
