[data-page] > header {
  z-index: $z-index-high;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  padding-left: $offset;
  padding-right: $offset;
  top: 0;
  left: 0;
  right: 0;
  transition: all $animation-duration $animation-ease;
  img {
    height: $offset / 1.35;
  }
  > nav {
    flex-grow: 1;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    > a {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      margin-left: $offset / 2;
      cursor: pointer;

      &:not(.button) {
        color: $white;
        opacity: 0.85;
        padding: $unit 0;
        transition: all $animation-duration $animation-ease;
        box-shadow: none;
        &:hover, &.active {
          opacity: 1;
          box-shadow: 0 2px $white;
        }
      }
    }
  }

  // -- Decorators
  &.scroll {
    background-color: rgba($primary, 0.95);
    box-shadow: $shadow-deep;
    height: ($header-height / 1.5);
    .button {
      background-color: $white;
      color: $primary;
    }
  }
}
