[data-page] > header {
  z-index: $z-index-higher;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  transition: all $animation-duration $animation-ease;
  > a {
    &, > img {
      height: $offset / 1.35;
      margin: 0;
    }
  }
  > nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    > a {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      font-family: $font-family-heading;
      font-weight: $font-weight-bold;
      cursor: pointer;
      &:not(.button) {
        color: $white;
        opacity: 0.85;
        padding: $unit 0;
        transition: all $animation-duration $animation-ease;
        box-shadow: none;
        position: relative;

        &:hover, &.active {
          opacity: 1;
          box-shadow: 0 -2px $white;
        }
      }
    }
  }
}

// -- Decorators
[data-page].scroll > header {
  background-color: rgba($primary, 0.9);
  box-shadow: $shadow-deep;
  height: ($header-height / 1.5);
  > a > img {
    content: url('/assets/images/logo-white.png');
  }
  > nav > .button {
    background-color: $white;
    color: $primary;
  }
}


// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-XS) {
  [data-page] > header {
    > nav {
      display: none;
    }
  }
}

@media (min-width: $layout-breakpoint-XS) and (max-width: $layout-breakpoint-SM) {
  [data-page] > header {
    > nav > a {
      margin-left: $unit;
      > ul {
        display: none;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-SM) {
  [data-page] > header {
    padding-left: $offset-mobile;
    padding-right: $offset-mobile;
  }
}

@media (min-width: $layout-breakpoint-SM + 1) {
  [data-page] > header {
    padding-left: $offset;
    padding-right: $offset;
    > nav > a {
      margin-left: $offset / 2;
      &:hover {
        > ul {
          display: flex;
        }
      }
      > ul {
        position: fixed;
        margin: ($unit * 1.25) ($offset * 1.12) 0 (-$offset / 4);
        padding: 0;
        display: none;
        color: $text;
        font-family: $font-family;
        box-shadow: $shadow-light;
        > * {
          margin-left: -$unit * 0.1;
          padding: ($offset / 2.5) ($offset / 5);
          list-style: none;
          font-size: $font-size-tiny;
          background: $white;
          transform: skewX(-$button-skew);
          width: 33%;

          > * {
            transform: skewX($button-skew);
            display: block;
            pointer-events: none;
          }
          > span {
            font-weight: $font-weight-normal;
            color: $text-secondary;
            margin-left: $unit * 0.3;
          }
          &:hover {
            background-color: $background-dark;
          }
        }
      }
    }
  }
}
