[data-page] {
  > [data-role='sitemap'] {
    background-color: $background-dark;
    .wrapper {
      display: flex;
    }
    nav {
      min-width: 22.5%;
      padding: 0 $unit;
      > :not(h3) {
        display: block;
        color: $text-secondary;
        margin: $unit 0;
      }
    }
  }

  > footer {
    background-color: $dark;
    font-size: $font-size-tiny;
    display: flex;
    padding: 0 $offset;
    line-height: $header-height;
    &, a {
      color: $white;
    }
    > nav {
      &, a {
        margin-left: $unit;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
      &[data-role='networks'] {
        font-size: $font-size-large;
        > * {
          // margin-left: $unit;
        }
      }
    }
  }
}
