[data-page] > header {
  z-index: $z-index-higher;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  padding-left: $offset;
  padding-right: $offset;
  top: 0;
  left: 0;
  right: 0;
  transition: all $animation-duration $animation-ease;
  > a {
    &, > img {
      height: $offset / 1.35;
      margin: 0;
    }
  }
  > nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    > a {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      font-family: $font-family-heading;
      font-weight: $font-weight-bold;
      margin-left: $offset / 2;
      cursor: pointer;

      &:not(.button) {
        color: $white;
        opacity: 0.85;
        padding: $unit 0;
        transition: all $animation-duration $animation-ease;
        box-shadow: none;
        position: relative;
        > ul {
          position: fixed;
          margin: ($unit * 1.25) ($offset * 1.12) 0 (-$offset / 4);
          padding: 0;
          display: none;
          color: $text;
          font-family: $font-family;
          box-shadow: $shadow-light;
          > * {
            margin-left: -$unit * 0.1;
            padding: ($offset / 2) ($offset / 4);
            list-style: none;
            font-size: $font-size-tiny;
            background: $white;
            transform: skewX(-$button-skew);
            > * {
              transform: skewX($button-skew);
              display: block;
              pointer-events: none;
            }
            > span {
              font-weight: $font-weight-normal;
              color: $text-secondary;
              margin-left: $unit * 0.3;
            }
            &:hover {
              background-color: $background-dark;
            }
          }
        }
        &:hover, &.active {
          opacity: 1;
          box-shadow: 0 -2px $white;
        }
        &:hover {
          > ul {
            display: flex;
          }
        }
      }
    }
  }
}

// -- Decorators
[data-page].scroll > header {
  background-color: rgba($primary, 0.9);
  box-shadow: $shadow-deep;
  height: ($header-height / 1.5);
  > a > img {
    content: url('/assets/images/logo-white.png');
  }
  > nav > .button {
    background-color: $white;
    color: $primary;
  }
}
