.blog {
  list-style: none;
  margin: 0;
  padding: 0;
  > * {
    margin-bottom: $offset !important;
    > a {
      color: $text;
      > strong {
        color: $text-secondary;
      }
    }
    // -- Decorator
    &:hover {
      // background-color: $background-dark;
      h3 {
        color: $primary;
      }
    }
  }
}


.post {
  h1 {
    margin-bottom: $unit;
  }

  p {
    font-weight: normal;

    &, & ul {
      font-family: $font-family-content;
    }

    a > img, > img {
      width: 95%;
      margin: 0 2.5%;
    }
    > code {
      padding: (.3 * $unit) (.6 * $unit);
      font-size: $font-size-small;
      background: rgb(248, 248, 248);
      border: 1px solid rgb(238, 238, 238);
      border-radius: 3px;
    }
  }

  a {
    color: $text;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,.6) 50%);
    background-repeat: repeat-x;
    background-position: 0 22px;
    background-size: 2px 2px;
  }

  > blockquote {
    margin: $unit 0 $offset 0;
    font-style: italic;
    > blockquote {
      margin: 0 $offset;
      font-size: 2.4 * $unit;
      color: $text-secondary;
    }
    p {
      margin: 0;
    }
    > p {
      $border-width: 3px;
      $border-offset: 20px;
      padding-bottom: $border-width;
      padding-left: $border-offset;
      margin-left: -($border-offset + $border-width);
      border-left: $border-width solid $text-secondary;
    }
  }

  > ul {
    > li {
      margin: 0 0 ($offset / 4) ($unit / 2);
      &:before {
        padding-top: .4 * $unit;
      }
    }
  }

  pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
  }

  pre {
    font-size: 1.3 * $unit;
  }
}

// -- Layout Breakpoints -------------------------------------------------------
@media (min-width: $layout-breakpoint-SM + 1) {
  .post {
    h1 {
      font-size: 6vh;
    }
  }
}
