[data-role='partners'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  img {
    margin: ($offset / 4) ($offset / 2);
    // width: ($offset * 2.25);
    height: ($offset  / 1.25);
    background-color: $background-dark;
    border: none;
  }
}
