html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: $text;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  > article {
    .wrapper {
      margin: 0 auto;
      width: 100%;

      &:not(.post) > p {
        color: $text-secondary;
      }
    }

    .bck {
      display: flex;
      flex-direction: column;
      background-position: center;

      &.dots {
        position: relative;
        background: $background-dark url('/assets/images/bck-default.jpg');
        background-size: cover;
        color: $white;

        > *:not(video) {
          z-index: $z-index-high;
        }

        &::after {
          z-index: $z-index-normal;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url('/assets/images/bck-dots.png') repeat top left;
          opacity: 0.5;
        }
      }

      &.video,
      &.desk,
      &.studio,
      &.map {
        background-position: center center;
      }

      &.desk {
        background-image: url('/assets/images/bck-desk.jpg');
      }

      &.studio {
        background-image: url('/assets/images/bck-studio.jpg');
      }

      &.map {
        background: transparent url("/assets/images/bck-map.svg") center center repeat-x;
      }

      &.primary {
        background-color: $primary;
        color: $white;
      }

      &.contrast {
        background-color: $background-dark;
      }
    }
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

strong {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

small {
  font-size: $font-size-small;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.75;
  margin: 0 0 $font-size-large 0;
}

video {
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
}

form {
  background-color: $background-dark;
  display: flex;
  flex-direction: column;

  > input,
  > textarea,
  > small {
    margin-bottom: $unit * 2;
  }

  > label,
  > small {
    color: $text-secondary;
  }

  > label {
    font-size: $font-size-small;
    margin-bottom: $unit / 2;
  }

  > input,
  > textarea {
    font-size: $font-size-large;
    padding: $unit;
    border: solid 1px darken($background-dark, 10%);
  }

  > textarea {
    height: 20vh;
  }

  > small {
    font-size: $font-size-tiny;

    > a {
      color: $text-secondary;
      text-decoration: underline;
    }
  }

  button {
    margin-top: 2 * $unit;
    align-self: flex-end;
  }
}

.error, .warning {
  padding: $unit;
  margin: $unit 0;
  display: block;
  font-size: $font-size-tiny;
}

.error {
  color: red;
  background: rgba(red, 0.20);
  border: solid 1px rgba(red, 0.4);
}

.warning {
  color: orange;
  background: rgba(orange, 0.2);
  border: solid 1px rgba(orange, 0.5);
}

// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-SM) {
  html {
    font-size: 57.5%;
  }

  h1 {
    font-size: 6vh;
  }

  h3 {
    font-size: $font-size-large;
  }

  form {
    padding: $offset-mobile;
  }

  video {
    display: none;
  }

  body > article {
    padding: ($offset-mobile / 1.5) $offset-mobile;

    .wrapper {
      max-width: 100vw - ($offset-mobile / 2);
    }
  }

  hr {
    display: none;
  }
}

@media (min-width: $layout-breakpoint-SM + 1) {
  h1 {
    font-size: 8vh;
  }
  h2 {
    font-size: 5vh;
  }
  h3 {
    font-size: 2.2 * $unit;
  }
  p {
    font-size: $font-size-large;
  }
  form {
    padding: $offset 17.5vw;
    transform: skewX(-$box-skew);
    > * {
      transform: skewX($box-skew);
    }
  }

  hr {
    background: lighten($text-secondary, 40%);
    border: none;
    height: 1px;
  }

  body > article {
    padding: ($offset / 1.5) $offset;
    .wrapper {
      &:not(.post) {
        max-width: $content-max-width;
      }
      &.post {
        max-width: $content-post-width;
      }
    }
  }
}
