[data-page='content'] {

  [data-role='title'] {
    padding: ($header-height + $offset) $offset $offset $offset;
    margin: (-$offset) (-$offset) $offset (-$offset);
  }

  [data-role='text'] {
    p {
      font-size: $font-size-large;
      line-height: 1.75;
      margin: 0 0 $font-size-large 0;
      text-align: justify;
    }

    h2, h3 {
      font-size: 2.2 * $unit;
      margin-bottom: $unit;
    }

    p + h2, p + h3, ul + h2, ul + h3, blockquote + h2, blockquote + h3 {
      margin-top: ($header-height - ($unit * 2));
    }

  }

  [data-content='Customers'] {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      li {
        margin: ($offset / 4) ($offset / 2);
        img {
          width: ($offset * 2.25);
          min-height: ($offset  / 1.25);
          background-color: $background-dark;
          border: none;
        }
      }
    }
  }
}
