$min-height: 75vh;
$max-height: 90vh;

[data-page='home'] > article:first-of-type  {
  padding-top: 0;
  padding-bottom: 0;
  min-height: $min-height;
  max-height: $max-height;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  align-items: center;

  > [data-role='intro'] {
    text-align: center;
    width: 100%;
    width: 75%;
    display: block;
    margin: $offset auto 0 auto;
    // margin: 0 auto;
    > h2 {
      color: rgba($white, 0.85);
    }
    > h3 {
      margin: ($offset / 4) 0 ($offset / 2) 0;
    }
    > button {
      color: $text;
      background-color: $white;
    }
    span {
      color: $white;
      border-bottom: solid ($unit / 2) $white;
    }
  }
  > video {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0;
  }
}
