$min-height: 60vh;
$quote-avatar-size: 12.5vw;

[data-page='home'] > article:first-of-type {
  padding: 0;

  > [data-role='intro'] {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;

    > h1,
    > h3 {
      color: rgba($white, 0.9);
      max-width: $content-max-width;
    }

    > h1 {
      margin-top: $offset;

      span {
        color: $white;
        border-bottom: solid ($unit / 2) $white;
      }
    }

    > h3 {
      margin: ($offset / 4) 0 ($offset / 2) 0;
      opacity: 0.75;
    }

    > video {
      z-index: 0;
      position: absolute;
    }

    > small {
      position: absolute;
      width: 100%;
      bottom: $unit;
      color: rgba($white, 0.75);
      font-size: $font-size-tiny;
      transition: opacity $animation-duration $animation-ease;
    }
  }
}

[data-page='home'].scroll > article:first-of-type {
  [data-role='intro'] {
    small {
      opacity: 0;
    }
  }
}

// -- Layout Breakpoints -------------------------------------------------------
@media (max-width: $layout-breakpoint-XS) {
  [data-page='home'] > article:first-of-type > [data-role='intro'] {
    height: 100vh;
  }
}

@media (min-width: $layout-breakpoint-XS) and (max-width: $layout-breakpoint-SM) {
  [data-page='home'] > article:first-of-type {
    h1 {
      font-size: 4.5vh;
    }

    > [data-role='intro'] {
      height: 40vh;

      > small {
        display: none;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-SM) {
  [data-page='home'] > article:first-of-type {
    > section {
      padding: $offset $offset-mobile;
    }

    hr {
      display: none;
    }
  }
}

@media (min-width: ($layout-breakpoint-SM + 1)) {
  $intro-height: 100vh;

  [data-page='home'] > article:first-of-type {
    h1 {
      font-size: 9.25vh;
    }

    > [data-role='intro'] {
      height: $intro-height;
    }

    > section {
      padding: 5vh 10vw;
    }
  }
}
