<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-page="{% if page.type %}{{ page.type }}{% else %}default{% endif %}">
    {% include ga.html %}
    {% include page-header.html %}

    <article>
      {% if page.type == "content" %}
        {% include page-content.html %}
      {% else %}
        {{ content }}
      {% endif %}
    </article>

    {% if page.title != "Sign Up" %}
      {% include banner-default.html %}
    {% endif %}

    {% if page.type == "home" %}
      {% include banner-partners.html %}
    {% endif %}

    {% if page.title == "Contact" %}
      {% include banner-location.html %}
    {% endif %}

    {% include page-footer.html %}
  </body>
</html>
